@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Special+Elite&family=Tillana:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

hr{
  box-shadow: inset 0px 0px 15px #8a00f1, 0px 0px 5px #ff0000, 0px 0px 10px #e400ff;
}

.heading {
    font-family: 'Beth Ellen';
    letter-spacing: 0.3vmin;
    color: #b82bbd;
    font-size: 12vmin;
    padding-top: 9vmin;
    font-weight: lighter;
}

.heading::before{
    content: attr(data-text);
    text-shadow: 0 0 1vmin #53025e,
    0 0 1.5vmin #731b8d,
    0 0 2vmin #5c1658,
    0 0 3.5vmin #350032;
    filter: brightness(2); 
    animation: flicker-schism 10s linear 0.5s infinite forwards;
  }

  .presently {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Recursive', sans-serif;
    color: #e9c6e4;
  }

  .presently-head{
    color: #8443ff;
    font-size: 3.5vmin;
  }

  @keyframes flicker-schism{
    0%{filter: brightness(1);} 
    3%{filter: brightness(2);} 
    6%{filter: brightness(1);} 
    9%{filter: brightness(2);} 
    10%{filter: brightness(3);} 
    20%{filter: brightness(2);} 
    30%{filter: brightness(1);} 
    40%{filter: brightness(2);} 
    50%{filter: brightness(3);} 
    60%{filter: brightness(1);} 
    90%{filter: brightness(2);} 
    100%{filter: brightness(3);} 
  } 

  .project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 10px 10px;
  }

.project-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-head .head{
  border: none;
  border-radius: 430px 310px 525px 190px/95px 225px 115px 155px;
  box-shadow: inset 0 0 5.5vmin #000, 0 0 3.5vmin #000000;
  padding: 0;
  margin: 3vmin;
  font-family: 'Rock Salt', cursive;
  font-size: 10vmin;
  color: #c163e6;
  text-shadow: 0 0 2.5vmin #ffffff,
  0 0 4vmin #001aff,
  0 0 1vmin #ff00f2,
  0 0 5vmin #ff0000;
  filter: blur(0px) brightness(5);
  letter-spacing: -0.5vmin;
}

.project-head .head p{
  line-height: 0px;
}


.project-outline{
  margin: 4vmin;
  max-width: 65vmin;
  display: block;
  font-family: 'Recursive', sans-serif;
  font-size: 20px;
}

.project-outline p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: -1.2vmin;
  color: #ffffffb5;
}

.role{
  font-weight: 600;
  color: #ff91ec;
  letter-spacing: 3px;
}

.affiliation, .duration{
  font-weight: 100;
  color: #914384;
  padding-bottom: 10px;
}

.betarteeb {
  font-weight: 600;
  color: #ff91ec;
  font-size: 4vmin;
}

.glow {
  text-shadow: 0 0 2px #ff00f2,
  0 0 10px #ff00f2,
  0 0 10px #ff00f2;
  filter: brightness(2);
}

.tag{
  display: inline-block;
  color: rgb(255 255 255);
  border-radius: 10px;
  background-color: rgb(159 0 73);
  font-size: 15px;
  padding: 6px 15px;
  text-shadow: 0 0 11px rgb(0 0 0), 0 0 12px rgb(0 0 0), 0 0 4px rgb(0 0 0), 0 0 35px rgb(0 0 0);
}

@media only screen and (max-width: 1244px){
  .project{
    flex-direction: column !important;
  }
  .project-outline{
    text-align: left !important;
    max-width: 96% !important;
  }
  .presently{
    font-size: 18px;
  }
  .betarteeb{
    font-size: 5vmin;
  }
}

/******************************/
.buttons svg{
  display: block;
  margin: auto;
  margin-bottom: 5px;
  filter: drop-shadow(0px 0px 3px #fff);
  transition: all 0.3s ease-in;
}

.buttons {
  padding: 15px;
  margin: 0 2.5vmin;

}

#project-icon-bar a {
  text-decoration: none;
  font-family: 'Recursive', sans-serif;
  font-size: 17px;
  color: #e9c6e4;
  text-shadow: 0 0 20px #ffffff,
  0 0 30px #ffffff;
}

.buttons::after {
  /* display: block; */
  content: attr(content);
  padding-top: 15px;
  /* transition: all 0.3s ease-in; */
}



.buttons:hover {
  color: #ffffff;
  filter: drop-shadow(0px 0px 13px #fff);
  text-shadow: 0 0 20px #ffffff,
  0 0 25px #c300ff,
  0 0 30px #ff00f2,
  0 0 40px #9900ff;
  transition: all 0.3s ease-in;
}
