@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Special+Elite&family=Tillana:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.heading {
    font-family: 'Beth Ellen';
    letter-spacing: 3px;
    color: #b82bbd;
    font-size: 12vmin;
    font-weight: lighter;
}

.heading::before{
    content: attr(data-text);
    text-shadow: 0 0 10px #53025e,
    0 0 15px #731b8d,
    0 0 20px #5c1658,
    0 0 35px #350032;
    filter: brightness(2); 
    animation: flicker-schism 10s linear 0.5s infinite forwards;
  }



  @keyframes flicker-schism{
    0%{filter: brightness(1);} 
    3%{filter: brightness(2);} 
    6%{filter: brightness(1);} 
    9%{filter: brightness(2);} 
    10%{filter: brightness(3);} 
    20%{filter: brightness(2);} 
    30%{filter: brightness(1);} 
    40%{filter: brightness(2);} 
    50%{filter: brightness(3);} 
    60%{filter: brightness(1);} 
    90%{filter: brightness(2);} 
    100%{filter: brightness(3);} 
  } 

  .project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

.project-head{
  border: none;
  border-radius: 430px 310px 525px 190px/95px 225px 115px 155px;
  box-shadow: inset 0 0 55px #000, 0 0 35px #000000;
  padding: 0;
  margin: 3vmin;
  font-family: 'Rock Salt', cursive;
  font-size: 8vmin;
  color: #c163e6;
  text-shadow: 0 0px 30px #ffffff, 
  0 0 35px #ffffff,
  0 0 45px #ffffff,
  0 0 55px #ffffff;
  filter: blur(0px) brightness(5);
}

.project-outline{
  margin: 3vmin;
  max-width: 85vmin;
  display: block;
  color: #ffffff;
}

@media only screen and (max-width: 855px){
  .project{
    flex-direction: column;
  }
  .project-outline{
    max-width: 94%;
  }
}
