@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Special+Elite&family=Tillana:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

hr{
  box-shadow: inset 0px 0px 15px #8a00f1, 0px 0px 5px #ff0000, 0px 0px 10px #e400ff;
}

.heading {
    font-family: 'Beth Ellen';
    letter-spacing: 0.3vmin;
    color: #b82bbd;
    font-size: 12vmin;
    padding-top: 9vmin;
    font-weight: lighter;
}

.heading::before{
    content: attr(data-text);
    text-shadow: 0 0 10px #53025e,
    0 0 15px #731b8d,
    0 0 20px #5c1658,
    0 0 35px #350032;
    filter: brightness(2); 
    animation: flicker-schism 10s linear 0.5s infinite forwards;
  }



  @keyframes flicker-schism{
    0%{filter: brightness(1);} 
    3%{filter: brightness(2);} 
    6%{filter: brightness(1);} 
    9%{filter: brightness(2);} 
    10%{filter: brightness(3);} 
    20%{filter: brightness(2);} 
    30%{filter: brightness(1);} 
    40%{filter: brightness(2);} 
    50%{filter: brightness(3);} 
    60%{filter: brightness(1);} 
    90%{filter: brightness(2);} 
    100%{filter: brightness(3);} 
  } 

  .project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 10px 10px;
  }



.project-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-head .head{
  border: none;
  border-radius: 430px 310px 525px 190px/95px 225px 115px 155px;
  box-shadow: inset 0 0 55px #000, 0 0 35px #000000;
  padding: 0;
  margin: 3vmin;
  font-family: 'Rock Salt', cursive;
  font-size: 10vmin;
  color: #c163e6;
  text-shadow: 0 0 2vmin #ffffff,
  0 0 4vmin #001aff,
  0 0 1vmin #ff00f2,
  0 0 5vmin #ff0000;
  filter: blur(0px) brightness(5);
}
.project-head .buttons svg{
  display: block;
  margin: auto;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-width: 1;
  stroke: #ff91ec;
  fill: none;
filter: drop-shadow(0px 0px 4px #ff00f2);
}

.project-head .buttons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 7px;
  background-color: rgb(75 33 92);
  padding: 6px 15px;
  margin: 0 2.5vmin;
  font-family: 'Recursive', sans-serif;
  font-size: 2.4vmin;
  color: #e9c6e4;
}

.project-head .buttons .text{
  width: 0;
  opacity: 0;
  /* transform: translateX(-20px); */
  transition: all 0.5s ease-in;

}


.project-head .buttons:hover > .text {
  width: 100%;
  opacity: 1;
  margin-left: 5px;
  /* transform: translateX(0px); */
  text-shadow: 0 0 2px #fff6ff, 0 0 10px #c50dd1, 0 0 10px #e18edd;
}
.project-outline{
  margin: 4vmin;
  max-width: 65vmin;
  display: block;
  font-family: 'Recursive', sans-serif;
}

.project-outline p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: -1.2vmin;
  color: #e9c6e4;
}

.role{
  font-weight: 600;
  color: #ff91ec;
  letter-spacing: 3px;
}

.affiliation, .duration{
  font-weight: 100;
  color: #914384;
  padding-bottom: 10px;
}

.glow {
  text-shadow: 0 0 2px #ff00f2,
  0 0 10px #ff00f2,
  0 0 10px #ff00f2;
  filter: brightness(2);
}

.tag{
  color: rgb(255 255 255);
  border-radius: 10px;
  background-color: rgb(227, 0, 168);
  font-size: 15px;
  padding: 6px 15px;
  text-shadow: 0 0 5px rgb(255 255 255), 0 0 10px rgb(255 255 255), 0 0 3px rgb(255 255 255);
}

@media only screen and (max-width: 1244px){
  .project{
    flex-direction: column;
  }
  .project-outline{
    max-width: 96%;
  }
}

