body {
  background: rgb(0, 0, 0);
  /* animation: flicker2 7s linear 0.5s infinite forwards; */
}

.App{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  align-content: center;
  overflow: hidden;
}
