@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

.nav-container{
    top: 0;
    display: block;
    position: fixed;
    z-index: 100;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 2.5vmin;
    border-color: #c163e6;
    backdrop-filter: blur(60px);
    box-shadow: 0 1.2vmin 3.1vmin #120111;
}

.navbar .page{
    font-family: 'Beth Ellen', cursive;
    align-items: center;
    text-decoration: none;
    padding: 0 7vmin;
    padding-bottom: 10px;
    color: #653a69;
    text-shadow: 0 0px 2vmin #794672,
    0 0px 2vmin #794672;
    filter: brightness(1.5); 
    letter-spacing: -1px;
    font-size: 3vmin;
    transition: all .5s ease-in-out;
}

.navbar .active{
  color: #c163e6 !important;
  text-shadow: 0 0 2vmin #ffffff, 
  0 0 1.5vmin #ffffff,
  0 0 2vmin #ffffff,
  0 0 2.5vmin #ffffff !important;
  filter: brightness(7) !important; 
}

.navbar .page:hover{
  color: #731db9;
  text-shadow: 0 0px 2vmin #8816aa,
  0 0 1vmin #8816aa,
  0 0 2vmin #8816aa;
  filter: brightness(7); 
  transition: 0.5s ease-in;
}

.navbar .xf-page{
    font-family: 'Beth Ellen', cursive;
}

@media only screen and (max-width: 624px){
  .navbar .page{
    padding: 0vmin 6vmin;
    padding-bottom: 7px;
    color: #653a69;
    text-shadow: 0 0px 1.5vmin #794672,
    0 0px 2vmin #794672;
    filter: brightness(1.5); 
    letter-spacing: -0.5px;
    font-size: 4.5vmin;
  }

  .navbar .active{
    text-shadow: 0 0px 3.5vmin #ffffff,
    0 0 4vmin #ffffff,
    0 0 4.5vmin #ffffff,
    0 0 5.5vmin #ffffff;
    filter: brightness(5); 
  }
}
